[submodule "projects/fydris"]
	path = projects/fydris
	url = https://github.com/Aethylia/fydris.git
[submodule "projects/canvas-raycast"]
	path = projects/canvas-raycast
	url = https://github.com/Aenyx/canvas-raycast
[submodule "projects/rubiks"]
	path = projects/rubiks
	url = https://github.com/Aenyx/rubiks.git
[submodule "projects/quadboids"]
	path = projects/quadboids
	url = https://github.com/Aenyx/quadboids.git
[submodule "projects/tendryl"]
	path = projects/tendryl
	url = https://github.com/Aenyx/tendryl.git
[submodule "projects/NiSPer"]
	path = projects/NiSPer
	url = git@github.com:Fydrenak/NiSPer.git
