.listCard {
    background-color: white;
	color: black;
	padding: 2%;
	
	width: 95%;
	box-shadow: 2px 2px 1px black;
	display: inline-block;
	margin: 2% 2% 3% 2%;
	
	transition: background-color .5s;
	vertical-align: top;
    text-align: left;
}

.listCard:hover {
	background-color: #DAB44B;
	color: black;
	box-shadow: 0;
}

.listCard img {
	padding: 0;
	margin: 0 3% 0 0;
	width: 30%;
	height: 100%;
    float: left;
}

@media only screen and (min-width: 565px) {
    .listCard {
        padding: 1%;
        width: 40%;
        margin-bottom: 0;
        
    }
    
    .listCard img {
        width: 20%;
    }

    .listCard h4 {
        padding-top: 0%;
        margin-top: 0;
    }
}

@media only screen and (min-width: 980px)
{

}