:root {
    --dark: #111;
    --light: #181818;
    --accent: rgb(152, 77, 238);
    --lightText: #eee;
    --darkText: #222;
}

body {
    background: var(--dark);
    color: var(--lightText);
    font-family: glametrix;
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--accent);
  cursor: pointer;
  transition: opacity .2s;
}

a:hover {
    opacity: 0.6;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    margin: 0 0 2% 0;
}

::selection {
    background: var(--accent);
    color: var(--lightText);
}

.section {
    padding: 1em 4em;
    border-bottom: 3px solid var(--darkText);
}

.section:nth-child(2n) {
    background-color: var(--light);
}

header h1 {
    font-weight: normal;
    margin: 0;
    font-size: 3em;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects > * {
    width: 16ch;
    margin: 1em 1em;
    background-color: var(--light);
    color: var(--lightText);
    padding: 0.5em;
    border-radius: 0px;
    transition: border-radius 0.3s;
    border: 3px solid var(--accent);
}

.section:nth-child(2n) .projects > * {
    background-color: var(--dark);
}

.projects > *:hover {
    opacity: 1;
    border-radius: 100px;
}

.projects h3 {
    color: var(--accentText);
}


footer {
  padding-bottom: 1%;
  margin: 0;
}

.appear {
    opacity: 0;
}

.fall {
    opacity: 0;
    animation: fallIn 0.5s ease-out forwards;
}

#fractal {
    font-family: monospace;
    font-size: medium;
    white-space: pre;
}

@keyframes appear-left {
    from {
        opacity: 0;
        transform: translate(-40px, 0);
    }

    to {
        opacity: 1;
        transform: translate(0, 0px);
    }
}

@keyframes appear-right {
    from {
        opacity: 0;
        transform: translate(40px, 0);
    }

    to {
        opacity: 1;
        transform: translate(0, 0)
    }
}


@keyframes fallIn {
    from {
        opacity: 0;
        transform: translate(0, -40px);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@font-face {
    font-family: "glametrix";
    src: url(resources/Glametrix.otf);
}

@font-face {
    font-family: "exo";
    src: url(resources/Exo-Regular.otf);
}