:root {
    --color1: #eee;
    --color2: #111;
    --link-color: #8801c6;
}

body {
    background: var(--color2);
    color: var(--color1);;
    font-family: monospace;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--link-color);
  cursor: pointer;
  transition: color .1s;
}

a:hover {
  color: #680099;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    margin: 0 0 5% 0;
}

svg {
    fill: var(--color1);
    display: block;
    user-drag: none;
    user-select: none;
    margin: -0.5px 0;
}

p {
    margin: 0;
}

::selection {
    background: var(--link-color);
}

::-moz-selection {
    background: var(--link-color);
}

.section {
    padding: 0 0%;
}

.section:nth-of-type(odd) {
    background: var(--color1);
    color: var(--color2);
}

#header {
    padding-top: 5%;
}

#header h1 {
    font-weight: normal;
    font-size: 3rem;
}

#intro, #projects{
    text-align: center;
}

#projectCards {
    width: 100%;
    margin: auto;
    text-align: center;
}

.projectCard {
    display: inline-block;
    width: 100%;
    background: var(--color1);
    color: var(--color2);;
    margin: 5% 2%;
    min-width: 100px;
}

.projectCard img {
    max-width: 100%;
    float: left;
    max-height: 200px;
    display: inline;
    margin: auto 0;
}

.projectCard h3 {
    padding-top: 10%;
}

.projectCard p {
    padding: 1% 5% 8% 5%;
}

#footer {
  font-size: .8em;
  text-align: center;
  padding-bottom: 1%;
  margin: 0;
}

@media only screen and (min-width: 720px)
{
    .section {
	padding: 10%;
    }
    
    .projectCard {
	width: 28%;
	margin-bottom: 0;
    }

    .projectCard img {
	float: none;
	display: block;
	width: 100%;
    }
}

@media only screen and (min-width: 1500px)
{
    .section {
	padding: 0 25%;
    }
}

/*animation is added in the javascript*/
.appear {
    opacity: 0;
    transform: translate(0, 40px);
}

/*animation added here because it's only for use
on the top section*/
.fall {
    opacity: 0;
    animation: fallIn 0.5s ease-out forwards;
}

@keyframes appear-left {
    from {
	opacity: 0;
	transform: translate(-40px, 0);
    }

    to {
	opacity: 1;
	transform: translate(0, 0px);
    }
}

@keyframes appear-right {
    from {
	opacity: 0;
	transform: translate(40px, 0);
    }

    to {
	opacity: 1;
	transform: translate(0, 0)
    }
}


@keyframes fallIn {
    from {
	opacity: 0;
	transform: translate(0, -40px);
    }

    to {
	opacity: 1;
	transform: translate(0, 0);
    }
}
