body {
  background: #151515;
  background: #2b2b2b;
  color: #ccc;
  font-family: monospace;
  margin: 0;
  padding: 0;

  font-size: 1.1rem;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #8801c6;
  cursor: pointer;
  transition: color .1s;
}

a:hover {
  color: #680099;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

::selection {
  background: #61009d;
}

::-moz-selection {
  background: #61009d;
}

.content {
    margin-bottom: 10%;
    padding: 0 10%;
}

#header {
    margin: 15% 0 10% 0;
    text-align: center;
}

#header h1 {
  font-size: 4rem;
  color: #ddd;
}

.appear {
    animation: appear .5s ease-out forwards;
    opacity: 0;
    transform: translate(0, 20px);
}

.delay1 {
    animation-delay: .4s;
}

.delay2 {
    animation-delay: .6s;
}

@keyframes appear {
    from {
	opacity: 0;
	transform: translate(0, 20px);
    }

    to {
	opacity: 1;
	transform: translate(0, 0px);
    }
}

.card {
    text-align: center;
    margin-bottom: 20%;
}

.card img {
    height: 250px;
}

.card p {
    text-align: left;
}

/*footer*/

#footer {
  font-size: .8em;
  text-align: center;
  padding: 1% 0 0 0;
}

#footer p{
    margin: 0;
    padding: 10px;
}

@media only screen and (min-width: 1080px)
{
    body {
	font-size: 1.3rem;
    }
    
    #container {
	width: 50%;
	margin: auto;
    }

    .content {
	padding: 0;
    }
}
