#calibMenu {
    width: 10em;
    height: 6em;
}

#rectMenu input {
    margin-bottom: 1em;
}

#rectMenu button {
    width: 100%;
}

.popupMenu {
    text-align: center;
    background-color: var(--accent-vdark);
    padding: 0 2em 2em 2em;
    border: 2px solid var(--accent);
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    max-width: 40ch;
    margin: auto;
}

.popupMenu input {
    display: block;
    background: var(--accent-vdark);
    border: 2px solid var(--accent-dark);
    color: white;
    margin: auto;
}

.hide {
    display: none;
}